<div class="nav-gap d-flex align-items-center justify-content-center min-vh-100">
  <main *ngIf="(user$ | async) as user" class="col-10 col-md-8 col-lg-6 col-xl-4">
    <form (ngSubmit)="login(user)" #loginForm="ngForm">
      <div class="form-outline mb-4">
        <input [(ngModel)]="user.username" type="text" id="form2Example1" class="form-control" name="username"/>
        <label class="form-label" for="form2Example1">Email address</label>
      </div>

      <div class="form-outline mb-4">
        <input [(ngModel)]="user.password" type="password" id="password" class="form-control" name="password"/>
        <label class="form-label" for="password">Password</label>
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

    </form>
    <section *ngIf="!wasLoginSuccessful">
      Incorrect username or password!
    </section>
    {{user.username}} | {{user.password}}
  </main>
</div>

<!-- <a [routerLink]="['/register']" mat-raised-button>Register</a> -->

      <!-- <div class="text-center">
        <p>Not a member? <a href="#!">Register</a></p>
        <p>or sign up with:</p>
        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div> -->
