<div class="background"></div>
<div class="nav-gap">
<div class="container my-5">
  <div class="row">
    <main *ngIf="(quiz$ | async) as quiz" class="col-lg-6 offset-lg-3">
      <div class="bg-darken-wrap text-white">
        <h1 class="game-played text-shadow mb-4">Quiz data</h1>
        <form (ngSubmit)="onUpdate(quiz)" #quizForm="ngForm">

          <div class="form-outline mb-4">
            <input [(ngModel)]="quiz.id" type="text" id="id" class="form-control" name="id" disabled/>
            <label class="form-label" for="id">#</label>
          </div>

          <div class="form-outline mb-4">
            <input [(ngModel)]="quiz.questionType" type="text" id="questionType" class="form-control" name="questionType" required/>
            <label class="form-label" for="questionType">Question type</label>
          </div>

          <div class="form-outline mb-4">
            <input [(ngModel)]="quiz.question" type="text" id="question" class="form-control" name="question" required/>
            <label class="form-label" for="question">Question</label>
          </div>

          <div class="form-outline mb-4">
            <input [(ngModel)]="quiz.answer1" type="text" id="answer1" class="form-control" name="answer1" required/>
            <label class="form-label" for="answer1">Answer #1</label>
          </div>

          <div class="form-outline mb-4">
            <input [(ngModel)]="quiz.answer2" type="text" id="answer2" class="form-control" name="answer2" required/>
            <label class="form-label" for="answer2">Answer #2</label>
          </div>

          <div class="form-outline mb-4">
            <input [(ngModel)]="quiz.answer3" type="text" id="answer3" class="form-control" name="answer3" required/>
            <label class="form-label" for="answer3">Answer #3</label>
          </div>

          <div class="form-outline mb-4">
            <input [(ngModel)]="quiz.answer4" type="text" id="answer4" class="form-control" name="answer4" required/>
            <label class="form-label" for="answer4">Answer #4</label>
          </div>

          <div class="form-outline mb-2">
            <input [(ngModel)]="quiz.correctAnswer" type="number" min="1" max="4" id="correctAnswer" class="form-control" name="correctAnswer" placeholder="1-4" required/>
            <label class="form-label" for="correctAnswer">Correct answer ID</label>
          </div>

          <div class="form-check mb-4 d-flex align-items-center">
            <input [(ngModel)]="quiz.active" type="checkbox" class="form-check-input me-2" id="active" name="active"/>
            <label class="form-check-label" for="active">Active</label>
          </div>          <div class="d-flex flex-row align-items-center justify-content-between">
            <button [disabled]="quizForm.invalid" type="submit" class="btn btn-primary btn-block px-5">
              <fa-icon class="text-white" [icon]="faSave"></fa-icon>
            </button>
            <small><a [routerLink]="['/admin-home']" class="text-white">Cancel</a></small>
          </div>

        </form>

      </div>

    </main>
  </div>
</div>
