<p>question works!</p>
<div *ngIf="list$ | async as list">
  <div *ngFor="let quiz of list" class="card" style="width: 18rem;">
    <div class="card-header">
      {{ quiz.id }}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ quiz.question }}</li>
      <li class="list-group-item">{{ quiz.answer1 }}</li>
      <li class="list-group-item">{{ quiz.answer2 }}</li>
      <li class="list-group-item">{{ quiz.answer3 }}</li>
      <li class="list-group-item">{{ quiz.answer4 }}</li>
      <li class="list-group-item">{{ quiz.correctAnswerId }}</li>
      <li class="list-group-item">{{ quiz.active }}</li>
    </ul>
  </div>
</div>
