<div class="nav-gap">
  <div class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div *ngIf="list$ | async as list" class="d-flex flex-row">
      <div *ngFor="let quiz of list" class="card" style="width: 18rem;">
        <div class="card-header">
          {{ quiz.id }}
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ quiz.question }}</li>
            <button mat-raised-button>{{ quiz.answer1 }}</button>
            <button mat-raised-button>{{ quiz.answer2 }}</button>
            <button mat-raised-button>{{ quiz.answer3 }}</button>
            <button mat-raised-button>{{ quiz.answer4 }}</button>
            <li class="list-group-item">{{ quiz.correctAnswer }}</li>
            <li class="list-group-item">{{ quiz.active }}</li>
          </ul>
      </div>
      <button class="display-1" [routerLink]="['/admin-edit']" mat-raised-button>+</button>
    </div>
  </div>
</div>
