<div class="background"></div>
<div class="nav-gap">
  <div class="d-flex flex-column align-items-center min-vh-100">
    <div *ngIf="list$ | async as list" class="container d-flex flex-row flex-wrap align-items-center justify-content-center mt-5">
      <div *ngFor="let quiz of list" class="card m-2 col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column justify-content-between" style="width: 18rem; height: 28rem;">
        <div class="card-header">
          {{ quiz.id }}
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><small>{{ quiz.question }}</small> </li>
            <button mat-raised-button>{{ quiz.answer1 }}</button>
            <button mat-raised-button>{{ quiz.answer2 }}</button>
            <button mat-raised-button>{{ quiz.answer3 }}</button>
            <button mat-raised-button>{{ quiz.answer4 }}</button>
            <li class="list-group-item"><small>Correct answer: {{ quiz.correctAnswer }}</small></li>
            <li class="list-group-item"><small>Active: </small>
              <fa-icon *ngIf="quiz.active" class="text-green" [icon]="faCheck"></fa-icon>
              <fa-icon *ngIf="!quiz.active" class="text-red" [icon]="faXmark"></fa-icon>
            </li>
            <li class="card-footer d-flex flex-row justify-content-between col-12">
              <button class="btn" (click)="onEditOne(quiz)">
                <fa-icon class="text-green" [icon]="faPenToSquare"></fa-icon>
              </button>
              <button class="btn" (click)="deleteQuiz(quiz.id)">
                <fa-icon class="text-red" [icon]="faTrashCan"></fa-icon>
              </button>
            </li>
          </ul>
      </div>
      <div class="card m-2 col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-center justify-content-center" style="width: 18rem; height: 28rem;">
        <button class="col-12 h-100" [routerLink]="['/admin-edit', '']" mat-raised-button>
          <fa-icon class="add" [icon]="faSquarePlus"></fa-icon>
        </button>
      </div>

    </div>
  </div>
</div>
